// services page

.features_img {
	width: 70px;
}

.spacein {
	margin-top: 5vh;
}

.services_article {
	padding: 5vh 0;

	.services_article-title {
		font-size: 4rem;
		font-weight: 600;
		margin-bottom: 5vh;
		color: $color-primary;
	}

	.services_article-text {
		font-size: 1.6rem;
	}
}

.services_features {
	padding: 10vh 0 20vh 0;

	.services_features-img {
		margin: 4rem 0;
		width: 80%;
	}

	.services_features-title {
		font-size: 1.6rem;
		font-weight: 600;
		color: $color-primary;
	}

	.services_features-text {
		font-size: 1.6rem;
	}
}

.action {
	padding-bottom: 20vh;

	.action_title {
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 4rem;
		color: $color-primary;
	}
}