.btn-default {
	font-size: 1.3rem;
	color: $color-white;
	border-left: 1.5rem solid $color-primary;
	background-color: $color-secondary;
	padding: 1rem 4rem;
	margin: 1rem 1rem 1rem 0;
	transition: all ease 1s;
}

.btn-default:hover {
	font-weight: bold;
	color: $color-white;
	background-color: $color-primary;
	transition: all ease 1s;
}

.brochure_form {
	padding: 2rem;

	.col-12 {
		padding: 1rem;
	}

	.form-control {
		font-size: 1.3rem;
	}
}