// navigation component
.navbar {
	background-color: #fff;

	.nav_img {
		width: 12rem;
	}

	.nav-item {
		margin-right: 2rem;

		.nav-link {
			font-size: 1.3rem;
			font-weight: 800;
			color: $color-primary;
		}
	}

	.dropdown-menu {

		.dropdown-item {
			font-size: 1.3rem;
			font-weight: 600;
			color: $color-primary;
		}
	}
}