.header_title {
	animation-duration: 2s;
  	animation-delay: 1s;
}

.header_subtitle {
	animation-duration: 2s;
  	animation-delay: 2s;
}

.btn-default {
	animation-duration: 2s;
  	animation-delay: 3s;
}

.values_img {
  animation-duration: 2s;
  animation-delay: 1s;
}

.values_card-text {
  animation-duration: 3s;
  animation-delay: 2s;
}

.contact_title {
	animation-duration: 2s;
  	animation-delay: 1s;
}

.bg_offset {
  animation-duration: 3s;
  animation-delay: 3s;
}

.contact_form {
	animation-duration: 2s;
  	animation-delay: 2s;
}

.ball_one, .ball_two, .ball_four, .ball_three {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}